<tr class="table-row-link">
  <th scope="row"><%= address.id %></th>
  <td><%= address.firstName %></td>
  <td><%= address.lastName %></td>
  <td><%= address.patronymic %></td>
  <td>
    <div class="d-flex flex-row justify-content-between">
      <span> <%= address.email %> </span>

      <div class="d-flex flex-row gap-4">
        <button
          type="button"
          class="btn btn-warning editBtn"
          data-bs-toggle="modal"
          data-bs-target="#editAddressModal<%= address.id %>"
        >
          Edit
        </button>
        <%- include('_edit-address-modal', { address: address }) %>
        <button
          type="button"
          class="btn btn-danger deleteBtn"
          data-bs-toggle="modal"
          data-bs-target="#deleteAddressModal<%= address.id %>"
        >
          Delete
        </button>
        <%- include('_delete-address-modal', { address: address }) %>
      </div>
    </div>
  </td>
</tr>
