<div
  class="modal fade"
  id="deleteAddressModal<%= address.id %>"
  tabindex="-1"
  aria-labelledby="deleteAddressModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAddressModalLabel">Delete Address</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete address
          <b><%= address.email %></b>?
        </p>
      </div>
      <form class="delete-address-form" data-address-id="<%= address.id %>">
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>

          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
