<div class="mb-3">
  <label for="messageTemplateSelect" class="form-label">Message Template</label>
  <select class="form-select" id="messageTemplateSelect" name="messageTemplate">
    <% messageTemplates.forEach((template) => { %>
    <option
      class="message-template-option"
      value="<%= template.name %>"
      data-subject="<%= template.subject %>"
      data-message="<%= template.message %>"
    >
      <%= template.name %>
    </option>
    <% }) %>
  </select>
</div>
