<nav aria-label="Page navigation" class="d-flex gap-5 align-items-start">
  <ul class="pagination">
    <% if (currentPage > 1) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
    </li>
    <% } else { %>
    <li class="page-item disabled"><a class="page-link">Previous</a></li>
    <% } %>
    <li class="page-item active">
      <a class="page-link"><%= currentPage %></a>
    </li>
    <% if (hasNext) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
    </li>
    <% } else { %>
    <li class="page-item disabled"><a class="page-link">Next</a></li>
    <% } %>
  </ul>

  <div class="d-flex gap-3">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addAddressModal"
    >
      Add
    </button>
    <%- include('_add-address-modal') %>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#sendMailModal"
    >
      Send mail
    </button>
    <%- include('_send-mail-modal', { messageTemplates: messageTemplates}) %>
  </div>
</nav>
