<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Addresses</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .table-row-link:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Patronymic</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <% addresses.forEach(function(address) { %> <%-
          include('_address-row', { address: address}) %> <% }); %>
        </tbody>
      </table>

      <%- include('_options', { hasNext: hasNext, currentPage: currentPage,
      messageTemplates: messageTemplates}) %>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script type="module" src="address-page.js"></script>
  </body>
</html>
